.asideContainer {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: var(--white);
    border-bottom: 1px solid var(--light-gray);
    z-index: 9;

    @media (min-width: 600px) {
        position: static;
        width: 100%;
        min-height: 0;
        z-index: 0;
    }

    & > .closeContainer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 2rem;
        border-bottom: 1px solid var(--gray);

        @media (min-width: 600px) {
            display: none;
        }

        & > i {
            font-size: 2.8rem;
            cursor: pointer;
        }
    }

    & > .menuItemsContainer {
        width: 100%;
        display: grid;
        grid-template-areas:
            'client'
            'menu'
            'admin';
        @media (min-width: 600px) {
            grid-template-areas:
                'menu  client client '
                'admin admin admin';
            justify-content: space-around;
        }
    }
}
.visible {
    top: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}

.hidden {
    top: 0;
    left: -100%;
    transition: 0.4s ease-in-out;
}

// @media (min-width: 720px) {
//     .asideContainer {
//         & > .menuItemsContainer {
//             justify-content: space-around;
//         }
//     }
// }
