.asideItem {
    text-align: center;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    font-size: 1.8rem;
    font-weight: 500;

    &:hover {
        color: var(--main);
    }
}

@media (min-width: 600px) {
    .asideItem {
        width: auto;
        margin: 0 1rem;
        padding: 0;
    }
}
