.menuContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--gray);
    grid-area: client;
}

.clientContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0 1rem 0;
}

.clientImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    & > i {
        font-size: 2.2rem;
        margin-left: 1rem;
        cursor: pointer;
    }
}

.subMenu {
    bottom: -30rem;
    left: -10rem;
    width: 20rem;
}
.settingsContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    & > i {
        font-size: 3rem;
        margin: 1rem;
        cursor: pointer;

        &:hover {
            color: var(--main);
        }
    }
}

.itemsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 600px) {
    .menuContainer {
        border-bottom: none;
    }
    .clientContainer {
        justify-content: flex-end;
    }

    .clientImg {
        & > img {
            width: 6rem;
        }
    }
}
