.menuContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--gray);
    grid-area: client;
}

.clientContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0 1rem 0;

    & > .welcomeContainer {
        text-align: center;
        width: 100%;

        & > p {
            font-size: 2.3rem;
            margin: 1rem;
        }
    }
}

.clientImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    & > img {
        width: 8rem;
    }

    & > i {
        font-size: 2.2rem;
        margin-left: 1rem;
        cursor: pointer;
    }
}

.settingsContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    & > i {
        font-size: 3rem;
        margin: 1rem;
        cursor: pointer;

        &:hover {
            color: var(--main);
        }
    }
}

.itemsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 600px) {
    .subMenu {
        bottom: -20.3rem;
        left: 0rem;
        width: 20rem;
    }
    .menuContainer {
        border-bottom: none;
    }
    .clientContainer {
        justify-content: flex-end;
        & > .welcomeContainer {
            & > p {
                font-size: 1.8rem;
                margin: 1rem;
            }
        }
    }

    .clientImg {
        & > img {
            width: 4rem;
        }
    }

    .subMenu {
        .settingsContainer {
            border-bottom: 1px solid var(--light-gray);
        }
        & > .itemsContainer {
            & > a {
                margin: 0.3rem 0;
                width: 100%;
                border-bottom: 1px solid var(--light-gray);
            }
        }
    }
}
