.title {
    grid-area: colorTitle;
}
.colorsContainer {
    display: flex;
    align-items: center;
    grid-area: colors;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    & .addColor {
        padding: 0.5rem;
        border: 2px solid var(--gray);
        border-radius: 0.3rem;
        cursor: pointer;
        &:hover {
            border: 2px solid var(--dark-transparent);
        }
    }

    & .colorSquare {
        position: relative;
        padding: 1.4rem;
        margin: 0 0.5rem;
        border-radius: 0.3rem;
        border: 1px solid var(--gray);
        & > .removeColor {
            font-size: 1.4rem;
            position: absolute;
            right: -2px;
            top: -3px;
            color: var(--white);
            background: var(--danger);
            border-radius: 0.2rem;
            cursor: pointer;
        }
    }
}
.colorPickerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 30rem;
    min-height: 10rem;
    margin-top: 7rem;
    border-radius: 0.5rem;
    background: var(--dark-white);

    & > .closeContainer {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;

        & > i {
            margin: 1rem;
            font-size: 2.5rem;
        }
    }

    & > .colorPicker {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        padding: 1rem;
        background: var(--white);
        margin-bottom: 1rem;

        & > input {
            margin: 1rem 0 0.2rem 0;
            width: 50%;
            min-height: 3rem;
        }

        & > .colorName {
            border-bottom: 1px solid var(--main);
            margin: 1.4rem 0 0 0;
        }
    }

    & .errorStyle {
        color: var(--danger);
        margin: 0 0 1rem 0;
    }
}
