.guestMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid var(--gray);
}

@media (min-width: 600px) {
    .guestMenu {
        width: auto;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        border: none;
        & > h2 {
            display: none;
        }
    }
}
