a:hover {
    text-decoration: none;
}

.logoContainer {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    font-size: 3.5rem;
    font-weight: 400;
    font-family: var(--logo-font);
    color: var(--main);
    cursor: pointer;
}

@media (min-width: 600px) {
    .logoContainer {
        width: 20rem;
        padding: 0;
        margin: 0;
    }
    .logo {
        font-size: 4.5rem;
    }
}
