.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding-top: 2rem;
    z-index: 999;
    background: var(--dark-transparent);
}
