.navContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 10rem;
    padding: 0 2rem;

    & > .navGroup {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
    }
}

@media (min-width: 600px) {
    .navContainer {
        justify-content: center;
        & > .navGroup {
            justify-content: space-around;
            flex-wrap: nowrap;

            & > i {
                display: none;
            }
        }
    }
}
