.navContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    min-height: 10rem;
    padding: 2rem 2rem 1rem 2rem;

    background: var(--white);
    z-index: 9;
    & > .navGroup {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
    }
}

@media (min-width: 600px) {
    .navContainer {
        justify-content: center;
        & > .navGroup {
            justify-content: space-around;
            flex-wrap: nowrap;
            margin: 0;
        }
    }
}
