.productContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    box-shadow: -0.5rem 0.5rem var(--light-gray);
    border-radius: 1rem;
    background: var(--white);

    & > .product {
        display: flex;
        width: 20rem;
        background: var(--white);
        cursor: pointer;
        & > img {
            width: 100%;
            max-height: 15rem;
            object-fit: contain;
            object-position: center;
            padding: 0.5rem 0;
        }
        border-radius: 1rem 1rem 0 0;
    }
    .infoProductContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: var(--white);

        & > p {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 400;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }

        & > .priceText {
            text-align: center;
            font-weight: 500;
            font-size: 2.5rem;
        }

        & > .freeShipping {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--main);
        }

        & > .freeShippingInvisible {
            visibility: hidden;
        }

        & > .colorsSection {
            display: flex;
            justify-content: center;
            margin: 1rem 0;
            & > li {
                width: 2rem;
                height: 2rem;
                margin: 0 0.2rem;
                cursor: pointer;
                border: 1px solid var(--gray);
            }
        }
    }
}
