.mainContainer {
    margin: 1rem 0;
    width: 95%;
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    & > .titleContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0 1rem 0;
        & > h3 {
            padding-left: 1rem;
            font-size: 2.4rem;
        }

        & > a {
            margin-right: 1rem;
            font-size: 1.6rem;
        }
    }
    & > .productsContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 13rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
}
