.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    max-width: 30rem;
    min-height: 3rem;
    border: 1px solid var(--gray);
    border-radius: 2rem;

    & > .search {
        width: 95%;
        margin: 0 0.5rem;
        padding-left: 1rem;
    }

    & > i {
        font-size: 2rem;
        margin-right: 1rem;
        color: var(--gray);
    }
}

@media (min-width: 600px) {
    .searchContainer {
        max-width: 50rem;
        min-height: 3.5rem;

        & > .search {
            font-size: 1.6rem;
        }

        & > i {
            font-size: 2.5rem;
        }
    }
}
