.sliderContainer {
    position: relative;
    width: 100%;
    height: 22rem;
    background: var(--light-gray);

    & > img {
        width: 100%;
        height: 22rem;
        object-fit: cover;
        object-position: center;
    }

    // & > .shadowImage {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     transition: 0.3s ease-in;

    //     &:hover {
    //         background: var(--dark);
    //         opacity: 0.3;
    //         transition: 0.3s ease-out;
    //     }
    // }
}

@media (min-width: 600px) {
    .sliderContainer {
        height: 32rem;
        & > img {
            height: 35rem;
        }
    }
}
