.subMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 23rem;
    height: 0;
    border-radius: 1rem;
}

.visible {
    visibility: visible;
    min-height: 20rem;
    transition: 0.4s ease-in-out;
}

.hidden {
    visibility: hidden;
    min-height: 0rem;
    transition: 0.4s ease-in-out;
}

@media (min-width: 600px) {
    .subMenuContainer {
        position: absolute;
        z-index: 9;
        border: 1px solid var(--light-gray);
        background: var(--white);
    }

    .hidden {
        display: none;
    }
}
