.categoryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 5rem;

    @media (min-width: 500px) {
        justify-content: flex-start;
    }
    & article {
        height: 30rem;
        margin: 1rem;
    }
}

.categoryName {
    font-size: 2.5rem;
    margin-top: 2rem;
    & > span {
        color: var(--main);
        margin: 0 1rem;
    }

    @media (min-width: 600px) {
        font-size: 3rem;
    }
}

.loading {
    font-size: 4rem;
    width: 100%;
    text-align: center;
    color: var(--main);
    font-weight: 700;
    margin-top: 2rem;
}
