.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 3rem;
    margin-top: 4rem;
    padding: 0.5rem;
    z-index: 9;

    & .Title {
        font-family: var(--title-font);
        font-size: 3.5rem;
        color: var(--main);
        text-align: center;
    }

    & > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 4rem;

        & > input {
            margin: 2rem 0;
            padding: 0.5rem 0.5rem;
            border-bottom: 2px solid var(--main);
            font-size: 1.8rem;
            background: transparent;
        }
    }
    & > p {
        font-size: 1.6rem;
        & > a {
            color: var(--main);
            font-size: 1.6rem;
        }
    }

    & .link {
        color: var(--main);
    }

    & .optionalLoginContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        max-width: 25rem;
        padding: 1rem 3rem;
        margin-top: 2rem;

        & > i {
            font-size: 3rem;
            padding: 0.7rem;
            background: var(--main);
            border-radius: 50%;
            color: var(--light-gray);
        }
    }
}

@media (min-width: 600px) {
    .loginContainer {
        .Title {
            font-size: 4rem;
        }

        & > form {
            & > input {
                font-size: 2rem;
            }
        }
        & > p {
            font-size: 1.8rem;
            & > a {
                font-size: 1.8rem;
            }
        }
    }
}
