.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 50rem;
    min-height: 3rem;
    margin-top: 4rem;
    padding: 0.5rem;
    z-index: 9;

    & .Title {
        font-family: var(--title-font);
        font-size: 4rem;
        color: var(--main);
        text-align: center;
    }

    & > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 4rem;
    }
    & > p {
        margin: 1.5rem 0 1rem 0;
        font-size: 1.8rem;
        & > a {
            color: var(--main);
            font-size: 1.8rem;
        }
    }

    & .link {
        font-size: 1.8rem;
        color: var(--main);
    }

    & .optionalLoginContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        max-width: 25rem;
        padding: 1rem 3rem;
        margin-top: 2rem;

        & > i {
            font-size: 3rem;
            padding: 0.7rem;
            background: var(--main);
            border-radius: 50%;
            color: var(--light-gray);
        }
    }
}

.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
    & > input {
        width: 75%;
        max-width: 30rem;
        min-width: 20rem;
        border-bottom: 0.2rem solid var(--main);
        font-size: 2rem;
        background: transparent;
    }
    & > .inputError {
        text-align: center;
        color: var(--danger);
    }
}

@media (min-width: 600px) {
    .loginContainer {
        .Title {
            font-size: 5rem;
        }
        & > p {
            font-size: 1.8rem;
            & > a {
                font-size: 1.8rem;
            }
        }
    }
    .inputContainer {
        margin-bottom: 3rem;
        & > input {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
    }
}
