.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background: var(--white);
}

.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 50rem;
    min-height: 3rem;
    margin-top: 10rem;
    padding: 0.5rem;
    z-index: 9;

    & .Title {
        font-family: var(--title-font);
        font-size: 3.5rem;
        color: var(--main);
        text-align: center;
    }

    & > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 5rem;
    }
}

.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & input {
        padding: 0.5rem 0.5rem;
        border-bottom: 2px solid var(--main);
        font-size: 1.5rem;
        background: transparent;
        padding: 0.5rem;
        margin: 1rem;
    }

    & .inputError {
        text-align: center;
        color: var(--danger);
    }
}

.nameContainer,
.passwordContainer,
.emailContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

p {
    font-size: 1.6rem;
    & > a {
        color: var(--main);
        font-size: 1.6rem;
    }
}

.userRegisterAlert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 25rem;
    max-width: 45rem;
    height: 20rem;
    padding: 2rem;
    border-radius: 1rem;
    background: var(--white);
    z-index: 999;

    & > .closeContainer {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        & > i {
            font-size: 2.3rem;
            cursor: pointer;
        }
    }

    & > i {
        font-size: 10rem;
        color: var(--main);
    }

    & > p {
        font-size: 2rem;
    }

    & > a {
        color: var(--main);
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (min-width: 600px) {
    .registerContainer {
        .Title {
            font-size: 5rem;
        }
    }
    p {
        font-size: 2rem;
        & > a {
            font-size: 2rem;
        }
    }
    .inputContainer {
        & input {
            font-size: 2.5rem;
        }
    }
}
