:root {
    --white: #fdfdfd;
    --light-gray: #f0f0f0;
    --dark: #201b1b;
    --main: #f14343;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    min-width: 280px;
    color: var(--dark);
}

input {
    border: none;
    outline: none;
}
