:root {
    --white: #fdfdfd;
    --dark-white: #f5f5f5;
    --light-gray: #f0f0f0;
    --gray: #d8d8d8;
    --dark: #201b1b;
    --main: #00b68e;
    --medium-main: #00b68f86;
    --danger: #e60d0d;
    --logo-font: 'Kristi', cursive;
    --main-font: 'Zen Kaku Gothic New', sans-serif;
    --title-font: 'Archivo Black', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--main-font);
    font-size: 1.6rem;
    min-width: 280px;
    color: var(--dark);
    background: var(--dark-white);
}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: var(--dark);
}

a:hover {
    text-decoration: underline;
}

.icon {
    font-size: 2.3rem;
}

.icon:hover {
    cursor: pointer;
}

@media (min-width: 600px) {
    .tabletHidden {
        visibility: hidden;
    }

    .icon {
        font-size: 2.7rem;
    }
}
